footer
{
    background-color:#353535;

    *{
        color:white;
    }

    ul
    {
        margin:0;
    }

    i
    {
        font-size:0.8em;
        width:1.0em;
        padding:0 0.8em 0 0;
    }
    
}