header
{
    font-size:2.0em; /* 45px; */
    text-align:center;
    padding:0 2% 0 2%;
    /* display:flex; */
}

header p
{
    margin:0;
}

/*
header i
{
    /* width:50%; */
/*} 
*/

/*
fa-arrow-left
{
    display:block;
    float:right;
}
*/