@charset "UTF-8";
/* Polices */
/* Couleurs de la charte graphique */
/* Différents niveaux de gris utilisés */
/* Boutons */
/* Pourcentage d'éclaircissement du bouton */
/* Spinning loader */
/* Durée de l'animation */
/* Durée de passage d'opaque à transparent */
/* Délais avant démarrage de l'animation du loader */
/* Durée d'une rotation */
/* Décalage entre rotation succesive */
/* Fonction de calcul du délais pour la rotation de chaque disque */
/* $nth-pie: n ième disque */
/* Apparition progressive du menu */
/* Délais d'apparition de la première partie du menu */
/* Animation de la coche des menus */
/* Durée de l'animation */
/* Coeur pour les restaurants favoris */
/* Taille */
/* Coeur animé avec couleurs paramétrables */
/* $heartbox-backgroundcolor: couleur de fond */
/* $heart-color: couleur de remplissage du premier coeur */
/* INITIALISATION des comportements de base */
/* Forcer le corps de la page à occuper toute la largeur, avec remise à 0 du margin et du padding */
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

p {
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

/* Ohmyfood*/
.logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.5em;
  letter-spacing: 0em;
}

/* Noms des restaurants */
.restaurant {
  font-family: "Shrikhand", cursive;
}

.spinning-loader .pie span {
  color: white;
  font-size: 2em;
  font-family: "Shrikhand", cursive;
}

/* LOADER */
/* Elément/Enveloppe masquant le contenu du site durant le temps de chargement [ANIMATION] */
.loadingpage {
  position: relative;
}
.loadingpage::before {
  /* display:none; */
  /* Activez cette ligne pour travailler sans le masque du spinning loader */
  content: "";
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  animation: disparition 700ms 2300ms both ease-in-out;
}

/* Spinning loader [ANIMATION] */
.spinning-loader {
  width: 100%;
  height: 40vh;
  /*100vh;*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 500px;
}
.spinning-loader .pie {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: loader, disparition;
  animation-duration: 750ms, 700ms;
  animation-timing-function: ease-in-out, ease-in-out;
  /* animation-delay */
  animation-iteration-count: 1, 1;
  /* animation-direction */
  animation-fill-mode: both, both;
  /* animation-play-state */
}
.spinning-loader .pie--1 {
  background-color: #9356DC;
  /* transform-origin:left top 10px; */
  animation-delay: 250ms, 2300ms;
}
.spinning-loader .pie--2 {
  background-color: #FF79DA;
  transform-origin: 50% 50% 10px;
  animation-delay: 900ms, 2300ms;
  /*900ms*/
}
.spinning-loader .pie--3 {
  background-color: #99E2D0;
  /* transform-origin:right top 10px; */
  animation-delay: 1550ms, 2300ms;
  /*1550ms*/
}

/* HEART-FAVORITE */
/* Coeur animé [TRANSITION] pour la page principale*/
.favorite-home {
  padding: 0.5em 1em;
  height: 25px;
  position: relative;
  /* Elément masquant le second coeur en dégradé de couleur et utilisé pour le dévoiler de bas en haut */
  /* Premier coeur: visible par défaut quand il n'y a pas de survol avec la souris*/
  /* Contenant avec le second coeur, qui apparait au survol avec la souris */
  /* Au survol */
}
.favorite-home::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  opacity: 0;
  transform-origin: top;
  transform: scaleY(1);
  transition: opacity 50ms, transform 1500ms;
}
.favorite-home > .fa-heart {
  padding: 0 0.1em;
  color: white;
  text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px -1px black, -1px 1px black;
  font-size: 1.5em;
  opacity: 1;
  transition: opacity 100ms;
}
.favorite-home div {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 250ms;
  font-size: 1.95em;
  /* Second coeur avec dégradé de couleur: apparition déclenchée par le survol avec la souris */
}
.favorite-home div .fa-heart {
  padding: 0;
  margin: auto;
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  /* Necessaire pour Chrome */
  color: transparent;
}
.favorite-home:hover {
  /* Disparition du premier coeur */
  /* Apparition de l'élément contenant le second coeur */
  /* L'élément masquant le second coeur le dévoile*/
}
.favorite-home:hover > .fa-heart {
  opacity: 0;
}
.favorite-home:hover div {
  opacity: 1;
}
.favorite-home:hover::after {
  opacity: 1;
  transform: scaleY(0);
}

/* Coeur animé [TRANSITION] pour les menus*/
.favorite-menu {
  padding: 0.5em 1em;
  height: 25px;
  position: relative;
  /* Elément masquant le second coeur en dégradé de couleur et utilisé pour le dévoiler de bas en haut */
  /* Premier coeur: visible par défaut quand il n'y a pas de survol avec la souris*/
  /* Contenant avec le second coeur, qui apparait au survol avec la souris */
  /* Au survol */
}
.favorite-menu::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #F6F6F6;
  opacity: 0;
  transform-origin: top;
  transform: scaleY(1);
  transition: opacity 50ms, transform 1500ms;
}
.favorite-menu > .fa-heart {
  padding: 0 0.1em;
  color: #F6F6F6;
  text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px -1px black, -1px 1px black;
  font-size: 1.5em;
  opacity: 1;
  transition: opacity 100ms;
}
.favorite-menu div {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 250ms;
  font-size: 1.95em;
  /* Second coeur avec dégradé de couleur: apparition déclenchée par le survol avec la souris */
}
.favorite-menu div .fa-heart {
  padding: 0;
  margin: auto;
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  /* Necessaire pour Chrome */
  color: transparent;
}
.favorite-menu:hover {
  /* Disparition du premier coeur */
  /* Apparition de l'élément contenant le second coeur */
  /* L'élément masquant le second coeur le dévoile*/
}
.favorite-menu:hover > .fa-heart {
  opacity: 0;
}
.favorite-menu:hover div {
  opacity: 1;
}
.favorite-menu:hover::after {
  opacity: 1;
  transform: scaleY(0);
}

/* MENU */
/* Apparition progressive du menu [ANIMATION] */
.menu__list {
  animation: apparition-progressive 1000ms backwards ease-in-out;
}
.menu__list--1 {
  animation-delay: 500ms;
}
.menu__list--2 {
  animation-delay: 1000ms;
}
.menu__list--3 {
  animation-delay: 1500ms;
}

/* CHECK MARK */
/* Coche animée des éléments des menus [TRANSITION & ANIMATION] */
.menu-item {
  overflow: hidden;
  /* Espace-texte décrivant le mets  */
  /* Contenant de la coche */
  /* Au survol de l'élément du menu*/
  /* Au survol de l'élément du menu*/
}
.menu-item div:nth-child(1) {
  width: 100%;
  transition: width 500ms;
}
.menu-item .check {
  width: 0;
  transform: translateX(100%);
  transition: transform 500ms, width 500ms;
}
.menu-item:hover div:nth-child(1) {
  width: 80%;
  /* Réduction de la largeur de l'espace-texte */
}
.menu-item:hover .check {
  width: 20%;
  /* Agmentation de la largeur du contenant de la coche*/
  transform: translateX(0);
  /* Translation dans l'élement du menu */
}
.menu-item:hover .check .fa-check {
  animation: rotation-1turn 500ms;
  /*Keyframes de roatation de la coche */
}

/* KEYFRAMES */
/* Animation du spinning loader */
@keyframes loader {
  from {
    transform: rotateY(0deg) translateZ(10px);
  }
  to {
    transform: rotateY(-360deg) translateZ(10px);
  }
}
/* Animation contrôlant la dispartion du spinning loader et de l'élément masquant le site */
@keyframes disparition {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
/* Animation contrôlant l'apparition des éléments des menus */
@keyframes apparition-progressive {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Animation de rotation utilisée pour la coche des éléments des menus*/
@keyframes rotation-1turn {
  from {
    transform: rotate(-1turn);
  }
  to {
    transform: rotate(0);
  }
}
/* Bouton avec changement d'apparence (couleur de fond et ombre) au survol [TRANSITION] */
button {
  cursor: pointer;
  color: white;
  font-size: 1em;
  padding: 1em;
  border-radius: 1.75em;
  border: none;
  box-shadow: 2px 2px 2px black;
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  position: relative;
  z-index: 1;
}
button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right bottom, #ff93e1, #a16be0);
  z-index: -1;
  opacity: 0;
  transition: opacity 250ms;
  border-radius: 1.75em;
  border: none;
  box-shadow: 2px 2px 4px black;
}
button:hover::after {
  opacity: 1;
}

header {
  background-color: white;
  font-size: 2em;
  padding: 0 2% 0 2%;
  display: flex;
  justify-content: center;
}
header i {
  padding: 0.5em;
}
header p:nth-child(2) {
  padding: 0 10vw;
}

footer {
  background-color: #353535;
  padding: 0 5%;
}
footer * {
  color: white;
}
footer ul {
  margin: 0;
  padding: 1em 0 1em 0;
}
footer ul li {
  padding-top: 0.5em;
}
footer i {
  font-size: 0.8em;
  width: 1em;
  padding: 0 0.8em 0 0;
}

/* Section informant sur la localisation géographique */
.location {
  background-color: #EAEAEA;
  box-shadow: 0px -3px 3px #CFCFCF;
  padding: 1em 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.location > p {
  padding: 0 1em;
}
.location h3 {
  margin: 0;
}

/* Section d'introduction au concept Ohmyfood */
.introduction {
  text-align: center;
  background-color: #F6F6F6;
  padding: 1em 0 2.5em 0;
}
.introduction h2 {
  font-size: 1em;
  font-weight: normal;
}

/* Section d'explication du fonctionnement */
.operation {
  padding: 4% 5%;
  background-color: white;
}
.operation h3 {
  margin: 16px 0 16px 0;
}
.operation div {
  width: 100%;
  background-color: #F6F6F6;
  box-shadow: 2px 2px 4px black;
  border-radius: 15px;
  display: flex;
  justify-content: left;
  align-content: center;
  margin: 0 0 5% 0;
}
.operation div p:nth-child(1) {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  padding: 2px 8px 0 8px;
  margin: 16px 0 16px -11px;
}
.operation div p:nth-child(2) {
  padding: 0 2em;
  color: #7E7E7E;
  margin: 16px 0 16px 0;
  width: 20px;
}
.operation div:last-child {
  background-color: #F5EDFF;
}
.operation div:last-child p:nth-child(2) {
  color: #9356DC;
}

/* Section principale présentant la liste des restaurants */
.collection {
  background-color: #F6F6F6;
  padding: 4% 5%;
}

/* Elément de présentation du restaurant: image et texte */
.card {
  margin: 0;
  width: 100%;
  margin-bottom: 5%;
  border-radius: 10px;
  background-color: white;
  position: relative;
}
.card img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
.card figcaption {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.card figcaption h3 {
  margin: 0 0 0.5em 0;
}
.card figcaption p:first-child {
  font-weight: bold;
  padding: 0 0 0.5em 0;
}

/* Encart d'indication des restaurants les plus récents */
.new {
  width: 5em;
  padding: 0.25em;
  border-radius: 2px;
  color: #008766;
  text-align: center;
  background-color: #99E2D0;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Espace affichant l'image du restaurant */
.menuheader {
  width: 100%;
}
.menuheader img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* Section principale présentant le menu */
.menu {
  margin-top: -50px;
  position: relative;
  background-color: #F6F6F6;
  padding: 1em 5% 2.5em 5%;
  border-radius: 50px 50px 0 0;
  /* Nom du restaurant avec coeur */
  /* Bouton "Commander" */
}
.menu .menu-restaurant {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 0.2em;
}
.menu hr {
  color: #99E2D0;
  width: 3em;
  border-top: 2px solid #99E2D0;
  margin: 0.2em auto 0.5em 0;
}
.menu__list {
  padding: 0;
  width: 100%;
}
.menu .menu-button {
  padding: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .menu-button button {
  padding: 1em 2.5em;
}

/* Elément de présentation du mets: nom, détails et prix */
.menu-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  margin: 0 0 1em 0;
  border-radius: 0.5em;
  box-shadow: 2px 2px 4px black;
  /* Espace-texte décrivant le mets  */
  /* Contenant de la coche apparaissant au survol avec la souris */
}
.menu-item div:nth-child(1) {
  display: flex;
  flex-direction: column;
  /*Titre du mets*/
}
.menu-item div:nth-child(1) > p {
  font-weight: bold;
}
.menu-item p {
  padding: 0.5em 0 0.5em 0.3em;
}
.menu-item .check {
  border-radius: 0 0.5em 0.5em 0;
  display: flex;
  /* Contenant des icônes*/
}
.menu-item .check span {
  height: 100%;
  width: 100%;
  font-size: 1em;
  padding: 1em 0.5em;
  background-color: #99E2D0;
  /* Icône du cercle autour de la coche */
  /* Icône de la coche */
}
.menu-item .check span .fa-circle {
  color: white;
}
.menu-item .check span .fa-check {
  color: #99E2D0;
}

/* Elément contenant les détails du mets*/
.menu-item-details {
  display: flex;
  justify-content: space-between;
  /* Informations complémentaires du mets */
  /* Prix */
}
.menu-item-details p:nth-child(1) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-item-details p:last-child {
  font-weight: bold;
  padding-right: 0.5em;
}

/* RESPONSIVE DESIGN */
/* aspect-ratio and orientation and resolution */
/* Responsive design: tous les supports jusqu'à 320px de largeur */
@media all and (max-width: 320px) {
  header {
    font-size: 1.5em;
  }

  .operation h3 {
    font-size: 1em;
  }
}
/* Responsive design: tous les supports entre 321px et 375px de largeur */
@media all and (min-width: 321px) and (max-width: 376px) {
  header {
    font-size: 1.8em;
  }

  .operation h3 {
    font-size: 1em;
  }
}
/* Responsive design: tous les supports entre 377px et 425px de largeur */
/* Responsive design: tous les supports entre 427px et 768px de largeur */
@media all and (min-width: 427px) and (max-width: 770px) {
  body {
    background-color: #EAEAEA;
  }

  .pagewrapper {
    width: 80%;
    margin: 0 10%;
  }

  .operation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .operation div {
    width: 60%;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu__list li {
    width: 60%;
  }
}
/* Responsive design: autre version du spinning loader pour tous les écrans à partir de 500px de largeur */
@media screen and (min-width: 500px) {
  .spinning-loader .pie--1 {
    transform-origin: left top 10px;
  }
  .spinning-loader .pie--3 {
    transform-origin: right top 10px;
  }
}
/* Responsive design: tous les supports à partir de 1024px de largeur */
@media all and (min-width: 1024px) {
  body {
    background-color: #EAEAEA;
  }

  .pagewrapper {
    width: 60%;
    margin: 0 20%;
  }

  .operation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .operation div {
    width: 60%;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu__list li {
    width: 60%;
  }
}

/*# sourceMappingURL=main.css.map */
