@charset "UTF-8";
/* INITIALISATION des comportements de base */
/* Forcer le corps de la page à occuper toute la largeur, avec remise à 0 du margin et du padding */
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

p {
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

/*
h1,h2
{
    font-family: 'Shrikhand', cursive;
}
*/
.logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.5em;
  letter-spacing: 0em;
}

button {
  /* margin:auto; */
  cursor: pointer;
  color: white;
  padding: 1em;
  border-radius: 1.75em;
  border: none;
  box-shadow: 2px 2px 4px black;
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
}
button:hover {
  background: magenta;
  /* background-color:green; */
}

header {
  font-size: 2em;
  /* 45px; */
  text-align: center;
  padding: 0 2% 0 2%;
  /* display:flex; */
}

header p {
  margin: 0;
}

/*
header i
{
    /* width:50%; */
/*} 
*/
/*
fa-arrow-left
{
    display:block;
    float:right;
}
*/
footer {
  background-color: #353535;
}
footer * {
  color: white;
}
footer i {
  font-size: 0.8em;
  width: 1em;
  padding: 0 0.8em 0 0;
}

.introduction {
  text-align: center;
  background-color: #EAEAEA;
  /* #F6F6F6; */
  padding: 5% 0 5% 0;
  box-shadow: 0px -3px 3px #CFCFCF;
}

.introduction h2 {
  font-size: 1em;
  font-weight: normal;
}

.location {
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.location p, h3 {
  margin: 0;
}

.location > p {
  padding: 0 5%;
}

.operation {
  padding: 0 5%;
}

.operation div {
  width: 90%;
  background-color: #F6F6F6;
  box-shadow: 2px 2px 4px black;
  border-radius: 15px;
  display: flex;
  justify-content: left;
  align-content: center;
  margin: 0 0 5% 0;
}

.operation div:last-child {
  background-color: #F5EDFF;
}

.operation div:last-child p:nth-child(2) {
  color: #9356DC;
}

.operation div p:nth-child(1) {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  padding: 0 7px 0 7px;
  margin: 16px 0 16px -11px;
}

.operation div p:nth-child(2) {
  padding: 0 2em;
  color: #7E7E7E;
  margin: 16px 0 16px 0;
}

.operation h3 {
  margin: 16px 0 16px 0;
}

.collection {
  background-color: #F6F6F6;
  padding: 0 5% 0 5%;
}

.card {
  margin: 0;
  width: 100%;
  position: relative;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.new {
  width: 5em;
  color: #008766;
  text-align: center;
  background-color: #99E2D0;
  position: absolute;
  top: 10px;
  right: 10px;
  /* z-index:2; */
}

.new p {
  margin: 0;
}

.favourite i {
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
}

.filled {
  /* background:linear-gradient(to top, linear-gradient(to right bottom,$secondary,$primary) 20%, white 20%);*/
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.favourite3 .fas {
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-shadow:0.1px 0.1px 0 black; */
  /* text-shadow: -0.1px -0.1px 0 black, 0.1px -0.1px 0 black, -0.1px 0.1px 0 black, 0.1px 0.1px 0 black; */
}

.animation-check {
  cursor: pointer;
  transition: transform 400ms ease-in-out;
}
.animation-check:hover {
  color: red;
  transform: translateX(30px) rotate(1.5turn);
}

.animation-heart__stroke {
  font-size: 48px;
  color: red;
}
.animation-heart__fill {
  font-size: 40px;
  color: green;
  transition: color 2000ms 100ms;
}
.animation-heart__fill:hover {
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.menupage {
  width: 100%;
}
.menupage img {
  width: 100%;
  height: 300px;
}

.menu {
  background-color: #F6F6F6;
  padding: 0 5% 0 5%;
}

.menu-list {
  padding: 0;
  background-color: red;
  width: 100%;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  margin: 0 0 1em 0;
  border-radius: 0.5em;
  box-shadow: 2px 2px 4px black;
  /*
  &:hover .fa-check
  {
      transform:rotate(0);
  }
  */
}
.menu-item div:nth-child(1) {
  width: 90%;
  background-color: green;
  display: flex;
  flex-direction: column;
}
.menu-item div:nth-child(1) div {
  display: flex;
  justify-content: space-between;
}
.menu-item p {
  margin: 0;
  padding: 0.5em 0 0.5em 0;
}
.menu-item .menu-item-details p:nth-child(1) {
  background-color: pink;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-item .check {
  /* transform:scale(0); */
  border-radius: 0 0.5em 0.5em 0;
  overflow: hidden;
}
.menu-item .check span {
  height: 100%;
  background-color: #99E2D0;
  transform: translateX(50px);
  transition: transform 400ms;
}
.menu-item .check span .fa-check {
  transform: rotate(-1turn);
  transition: transform 400ms;
}
.menu-item:hover span {
  /* transform:scale(1); */
  transform: translateX(0);
}
.menu-item:hover span .fa-check {
  transform: rotate(0);
}

/*# sourceMappingURL=main.css.map */
