@charset "UTF-8";
/* INITIALISATION des comportements de base */
/* Forcer le corps de la page à occuper toute la largeur, avec remise à 0 du margin et du padding */
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

p {
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

/*
h1,h2
{
    font-family: 'Shrikhand', cursive;
}
*/
.logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.5em;
  letter-spacing: 0em;
}

button {
  /* margin:auto; */
  cursor: pointer;
  color: white;
  padding: 1em;
  border-radius: 1.75em;
  border: none;
  box-shadow: 2px 2px 2px black;
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  position: relative;
  z-index: 1;
}
button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right bottom, #ff93e1, #a16be0);
  z-index: -1;
  opacity: 0;
  transition: opacity 250ms;
  border-radius: 1.75em;
  border: none;
  box-shadow: 2px 2px 4px black;
}
button:hover {
  /* background:magenta; */
  /* background:lighten( magenta, 25%); */
  /* background-color:green; */
}
button:hover::after {
  opacity: 1;
}

header {
  font-size: 2em;
  /* 45px; */
  /* text-align:center; */
  padding: 0 2% 0 2%;
  display: flex;
  justify-content: center;
  /* align-content:center; */
}
header i {
  padding: 0.5em;
}
header p:first-child {
  background-color: red;
}
header p:nth-child(2) {
  background-color: green;
  padding: 0 10vw;
}

footer {
  background-color: #353535;
  padding: 0 5%;
}
footer * {
  color: white;
}
footer ul {
  margin: 0;
  padding: 1em 0 1em 0;
}
footer ul li {
  padding-top: 0.5em;
}
footer i {
  font-size: 0.8em;
  width: 1em;
  padding: 0 0.8em 0 0;
}

.location {
  background-color: #EAEAEA;
  box-shadow: 0px -3px 3px #CFCFCF;
  padding: 1em 0;
  margin: 0;
  display: flex;
  justify-content: center;
  /* align-content:center; */
}
.location > p {
  padding: 0 1em;
}
.location h3 {
  margin: 0;
}

.introduction {
  text-align: center;
  background-color: #F6F6F6;
  padding: 1em 0 2.5em 0;
}
.introduction h2 {
  font-size: 1em;
  font-weight: normal;
}

.operation {
  padding: 0 5%;
}
.operation h3 {
  margin: 16px 0 16px 0;
}
.operation div {
  width: 100%;
  background-color: #F6F6F6;
  box-shadow: 2px 2px 4px black;
  border-radius: 15px;
  display: flex;
  justify-content: left;
  align-content: center;
  margin: 0 0 5% 0;
}
.operation div p:nth-child(1) {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  padding: 2px 8px 0 8px;
  margin: 16px 0 16px -11px;
}
.operation div p:nth-child(2) {
  padding: 0 2em;
  color: #7E7E7E;
  margin: 16px 0 16px 0;
}
.operation div:last-child {
  background-color: #F5EDFF;
}
.operation div:last-child p:nth-child(2) {
  color: #9356DC;
}

.collection {
  background-color: #F6F6F6;
  padding: 0 5% 0 5%;
}

.card {
  margin: 0;
  width: 100%;
  margin-bottom: 5%;
  border-radius: 10px;
  background-color: white;
  position: relative;
}
.card img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
.card figcaption {
  display: flex;
  justify-content: space-between;
  /* align-content:center; */
  padding: 1em;
}
.card figcaption p:first-child {
  font-weight: bold;
  padding: 0 0 0.5em 0;
}
.card figcaption i {
  padding: 0.25em 0.5em;
}

.new {
  width: 5em;
  padding: 0.25em;
  border-radius: 2px;
  color: #008766;
  text-align: center;
  background-color: #99E2D0;
  position: absolute;
  top: 10px;
  right: 10px;
  /* z-index:2; */
}

.favourite {
  /*font-size:1.5em;*/
  display: flex;
  position: relative;
  z-index: 1;
}
.favourite__hea {
  margin: auto;
  color: white;
  text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px -1px black, -1px 1px black;
  font-size: 1.5em;
  /* transition: color 2000ms 100ms; */
  /*
          position:relative;
          z-index:1;
          &::after
          {
              content:"";

              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: -1;

              opacity:0;
              transition: opacity 250ms;

              text-shadow:none;
              color:red;
              background:linear-gradient(to right bottom,$secondary,$primary);
              background-clip: text;
              -webkit-background-clip: text;
              color: transparent;
          }


          &:hover
          {
              &::after
              {
                  opacity:1;
              }
          }
  */
}
.favourite__hea:hover {
  /*
  text-shadow:none;
  background:linear-gradient(to right bottom,$secondary,$primary);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  */
}
.favourite:hover div {
  opacity: 1;
  transform: scale(1);
}
.favourite div {
  display: flex;
  position: absolute;
  top: 0;
  /*-3px;*/
  right: 0;
  bottom: 0;
  left: 0;
  /*-3px;*/
  /*z-index: -1;*/
  opacity: 0;
  /*transform-origin:bottom;*/
  transform: scale(0);
  transition: opacity 250ms, transform 2500ms;
  font-size: 1.95em;
  /*1.7em;*/
}
.favourite div .favourite__heart {
  padding: 0;
  margin: auto;
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* text-shadow:1px 1px 0 white,1px -1px 0 white,-1px -1px white,-1px 1px white; */
}

.favourite2 {
  font-size: 40px;
}

.animation-heart__stroke {
  font-size: 48px;
  color: black;
}
.animation-heart__fill {
  font-size: 40px;
  color: white;
  transition: color 2000ms 100ms;
}
.animation-heart__fill:hover {
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.filled {
  /* background:linear-gradient(to top, linear-gradient(to right bottom,$secondary,$primary) 20%, white 20%);*/
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:black; */
}

.favourite3 .fas {
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-shadow:0.1px 0.1px 0 black; */
  /* text-shadow: -0.1px -0.1px 0 black, 0.1px -0.1px 0 black, -0.1px 0.1px 0 black, 0.1px 0.1px 0 black; */
}

/*
.animation-check
{
    cursor:pointer;
    transition: transform 400ms ease-in-out;
    &:hover
    {
        color:red;
        transform:translateX(30px) rotate(1.5turn);
    }
}
/*



/* RESPONSIVE DESIGN */
/* aspect-ratio and orientation and resolution */
/* Responsive design: tous les supports jusqu'à 500px de largeur */
@media all and (min-width: 1024px) {
  .pagewrapper {
    width: 60%;
    margin: 0 20%;
  }
}
.pagewrapper {
  /*position:relative;*/
  /*z-index:1;*/
}
.pagewrapper::after {
  display: none;
  content: "";
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  animation: disparition 250ms 3000ms both ease-in-out;
  /*
  opacity: 1;
  transition: opacity 3000ms;
  */
}

.spinning-loader {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 500px;
}
.spinning-loader .pie {
  /*position:sticky;*/
  top: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform-style: preserve-3d;
  /*
  animation:loader 750ms ease-in-out 250ms both;
  */
  animation-name: loader, disparition;
  animation-duration: 750ms, 250ms;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-delay: 250ms, 3000ms;
  animation-iteration-count: 1, 1;
  /*animation-direction*/
  animation-fill-mode: both, both;
  /*animation-play-state*/
}
.spinning-loader .pie--1 {
  background-color: #9356DC;
  transform-origin: left top 10px;
}
.spinning-loader .pie--2 {
  background-color: #FF79DA;
  transform-origin: 50% 50% 10px;
  animation-delay: 1500ms, 3000ms;
}
.spinning-loader .pie--3 {
  background-color: #99E2D0;
  transform-origin: right top 10px;
  animation-delay: 2500ms, 3000ms;
}

@keyframes loader {
  from {
    transform: rotateY(0deg) translateZ(10px);
  }
  to {
    transform: rotateY(-360deg) translateZ(10px);
    /* $y:$y+1; */
  }
}
@keyframes disparition {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.menupage {
  width: 100%;
}
.menupage img {
  width: 100%;
  height: 300px;
}

.menu {
  background-color: #F6F6F6;
  padding: 0 5% 0 5%;
}
.menu h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 0.2em;
}
.menu hr {
  color: #99E2D0;
  width: 3em;
  border-top: 2px solid #99E2D0;
  margin: 0.2em auto 0.5em 0;
}
.menu__list {
  padding: 0;
  background-color: red;
  width: 100%;
  animation: apparition-progressive 1000ms backwards ease-in-out;
}
.menu__list--1 {
  animation-delay: 500ms;
}
.menu__list--2 {
  animation-delay: 1000ms;
}
.menu__list--3 {
  animation-delay: 1500ms;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  /* animation:apparition-progressive 1000ms 1000ms; */
  background-color: white;
  width: 100%;
  margin: 0 0 1em 0;
  border-radius: 0.5em;
  box-shadow: 2px 2px 4px black;
  overflow: hidden;
}
.menu-item div:nth-child(1) {
  width: 100%;
  transition: width 400ms;
  background-color: green;
  display: flex;
  flex-direction: column;
}
.menu-item div:nth-child(1) div {
  display: flex;
  justify-content: space-between;
}
.menu-item:hover div:nth-child(1) {
  width: 80%;
}
.menu-item p {
  margin: 0;
  padding: 0.5em 0 0.5em 0;
}
.menu-item .menu-item-details p:nth-child(1) {
  background-color: pink;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-item .check {
  border-radius: 0 0.5em 0.5em 0;
  overflow: hidden;
  width: 50px;
  /* transform:scaleX(0); */
  transform: translateX(100%);
  transition: transform 400ms, width 400ms;
  display: flex;
}
.menu-item .check span {
  height: 100%;
  width: 100px;
  font-size: 1em;
  padding: 1em 0.5em;
  background-color: #99E2D0;
  /* transform:translateX(50px);
  transition:transform 400ms; */
}
.menu-item .check span .fa-circle {
  color: white;
}
.menu-item .check span .fa-check {
  color: #99E2D0;
  transform: rotate(-1turn);
  transition: transform 400ms;
}
.menu-item:hover .check {
  width: 100px;
  /* transform:scaleX(1); */
  transform: translateX(0);
}
.menu-item:hover .check .fa-check {
  transform: rotate(0);
}

@keyframes apparition-progressive {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=main.css.map */
