/* Forcer le corps de la page à occuper toute la largeur, avec remise à 0 du margin et du padding */
body
{
    width:100%;
    margin:0;
    padding:0;
}

ul /* Suppression des puces des listes non ordonnées */
{
    list-style-type:none;
}