*
{
    font-family: $font-primary;
}

/* Ohmyfood*/
.logo
{
    font-family: $font-logo;
    font-size:1.5em;
    letter-spacing:0.0em;
}

/* Noms des restaurants */
.restaurant
{
    font-family: $font-logo;
}

.spinning-loader
{
    .pie
    {
        span
        {
            color:white;
            font-size:2.0em;
            font-family: $font-logo;
        }
    }
}