.favorite
{
    /*font-size:1.5em;*/
    /*display:flex;*/

    height:25px;

    position:relative;
        /* z-index:1;*/
        &::after
        {
            content:"";

            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            /*z-index: -1;*/

            background-color:white;

    
            opacity:0;
            transform:translateY(0);
            transition: opacity 50ms,transform 1500ms;
        }

        &:hover
        {
            &__1stheart
            {
                transform:translateY(-100%);
            }

            &::after
            {
                opacity:1;
                transform:translateY(-100%);
            }
        }
     
    &__1stheart
    {
        /*margin:auto;*/
        padding:0 0.1em;

        color:red;
        text-shadow:1px 1px 0 black,1px -1px 0 black,-1px -1px black,-1px 1px black;
        font-size:$hearticone-size;

        
        transform:translateY(0);
        transition: transform 1500ms;
        /*
        &:hover
        {
            opacity:0;
        }
        */
   
    }

    &:hover
    {
        &__hea
        {
            opacity:0;
        }

        & div
        {
            opacity:1;
            /*transform:scale(1);*/
        }
        
    }

    /*position:relative;*/
    /*z-index:1;*/
    div
    {
        display:flex;

        position: absolute;
        top: 0; /*-3px;*/
        right: 0;
        bottom: 0;
        left: 0; /*-3px;*/
        /*z-index: -1;*/

        opacity: 0;
        /*transform-origin:bottom;*/
        /*transform:scale(0);*/
        transition: opacity 250ms; /*, transform 2500ms;*/

        font-size:$hearticone-size*1.3; /*1.7em;*/

        .favorite__2ndheart
        {
            padding:0;
            margin:auto;
            background:linear-gradient(to right bottom,$secondary,$primary);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            /* text-shadow:1px 1px 0 white,1px -1px 0 white,-1px -1px white,-1px 1px white; */
        }

        /*
        &::after
        {
            content:"";
            background-color:black;

            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        */
    }

}


.location
{
    background-color:$secondary-grey;
    box-shadow: 0px -3px 3px $tertiary-grey;
    padding:1.0em 0;
    margin:0;
    display:flex;
    justify-content:center;
    /* align-content:center; */

    >p
    {
        padding:0 1.0em;
    }

    h3
    {
        margin:0;
    }
}

.introduction
{
    text-align:center;
    background-color:$primary-grey;
    padding:1.0em 0 2.5em 0;
    
    h2
    {
        font-size:1em;
        font-weight:normal;
    }
}



.operation
{
    padding:0 5%;

    h3
    {
        margin:16px 0 16px 0;
    }

    div
    {
        width:100%;
        background-color:$primary-grey;
        box-shadow:2px 2px 4px black;
        border-radius: 15px;
        display:flex;
        justify-content:left;
        align-content:center;
        margin:0 0 5% 0;

        p:nth-child(1)
        {
            background-color:$primary;
            color:white;
            border-radius:50%;
            padding:2px 8px 0 8px;
            margin:16px 0 16px -11px;
        }

        p:nth-child(2)
        {
            padding:0 2.0em;
            color:#7E7E7E;
            margin:16px 0 16px 0;
            width:20px;
        }
    }

    div:last-child
    {
        background-color: #F5EDFF;

        p:nth-child(2)
        {
            color: $primary;
        }
    }
}


.collection
{
    background-color:$primary-grey;
    padding:0 5% 0 5%;
}

.card
{
    margin:0;
    width:100%;
    margin-bottom:5%;
    border-radius:10px;
    background-color:white;
    position:relative;

    img
    {
        width:100%;
        height:200px;
        border-radius:10px 10px 0 0;
        object-fit:cover;
    }

    figcaption
    {
        display:flex;
        justify-content:space-between;
        /* align-content:center; */
        padding:1.0em;

        h3
        {
            margin:0 0 0.5em 0;
        }

        p:first-child
        {
            font-weight:bold;
            padding:0 0 0.5em 0;
        }

        i
        {
            /*padding:0.25em 0.5em;*/
        }
    }
}


.new
{
    width:5.0em;
    padding:0.25em;
    border-radius:2px;
    color:#008766;
    text-align:center;
    background-color:$tertiary;
    position:absolute;
    top:10px;
    right:10px;
    /* z-index:2; */
}

.favourite
{
    /*font-size:1.5em;*/
    display:flex;
     
    &__hea
    {
        margin:auto;
        color:red;
        text-shadow:1px 1px 0 black,1px -1px 0 black,-1px -1px black,-1px 1px black;
        font-size:$hearticone-size;
        /* transition: color 2000ms 100ms; */

        opacity:1;
        transition: opacity 100ms;

        &:hover
        {

            /*
            text-shadow:none;
            background:linear-gradient(to right bottom,$secondary,$primary);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            */
            
        }


/*
        position:relative;
        z-index:1;
        &::after
        {
            content:"";

            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
    
            opacity:0;
            transition: opacity 250ms;

            text-shadow:none;
            color:red;
            background:linear-gradient(to right bottom,$secondary,$primary);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }


        &:hover
        {
            &::after
            {
                opacity:1;
            }
        }
*/
    }

    &:hover
    {
        &__hea
        {
            opacity:0;
        }

        & div
        {
            opacity:1;
            transform:scale(1);
        }
        
    }

    position:relative;
    z-index:1;
    div
    {
        display:flex;

        position: absolute;
        top: 0; /*-3px;*/
        right: 0;
        bottom: 0;
        left: 0; /*-3px;*/
        /*z-index: -1;*/

        opacity: 0;
        /*transform-origin:bottom;*/
        transform:scale(0);
        transition: opacity 250ms, transform 2500ms;

        font-size:$hearticone-size*1.3; /*1.7em;*/

        .favourite__heart
        {
            padding:0;
            margin:auto;
            background:linear-gradient(to right bottom,$secondary,$primary);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            /* text-shadow:1px 1px 0 white,1px -1px 0 white,-1px -1px white,-1px 1px white; */
        }

        /*
        &::after
        {
            content:"";
            background-color:black;

            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        */
    }

}

.favourite2
{
    font-size:40px;
}


.animation-heart
{
    &__stroke
    {
        font-size:48px;
        color:black;
    }
    &__fill
    {
        font-size:40px;
        color:white;
        transition: color 2000ms 100ms;

        &:hover
        {
            background:linear-gradient(to right bottom,$secondary,$primary);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            
        }
    }
}

.filled
{
    /* background:linear-gradient(to top, linear-gradient(to right bottom,$secondary,$primary) 20%, white 20%);*/
    background:linear-gradient(to right bottom,$secondary,$primary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black; */
}

.favourite3 .fas
{
    background:-webkit-linear-gradient($secondary,$primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* text-shadow:0.1px 0.1px 0 black; */
    /* text-shadow: -0.1px -0.1px 0 black, 0.1px -0.1px 0 black, -0.1px 0.1px 0 black, 0.1px 0.1px 0 black; */
}

/*
.animation-check
{
    cursor:pointer;
    transition: transform 400ms ease-in-out;
    &:hover
    {
        color:red;
        transform:translateX(30px) rotate(1.5turn);
    }
}
/*



/* RESPONSIVE DESIGN */
/* aspect-ratio and orientation and resolution */
/* Responsive design: tous les supports jusqu'à 320px de largeur */
@media all and (max-width: 320px)
{
    header
    {
        font-size:1.5em;
    }

    .operation
    {
        h3
        {
            font-size:1.0em;
        }
    }
}
/* Responsive design: tous les supports entre 321px et 375px de largeur */
@media all and (min-width: 321px) and (max-width: 376px)
{
    header
    {
        font-size:1.8em;
    }

    .operation
    {
        h3
        {
            font-size:1.0em;
        }
    }
}
/* Responsive design: tous les supports entre 377px et 425px de largeur */
@media all and (min-width: 377px) and (max-width: 426px)
{
    
}
/* Responsive design: tous les supports entre 427px et 768px de largeur */
@media all and (min-width: 427px) and (max-width: 770px)
{
    .pagewrapper
    {
        width:80%;
        margin:0 10%;
    }

    .operation
    {
        display:flex;
        flex-direction:column;
        align-items:center;

        div
        {
            width:60%;
        }
    }

    .menu__list
    {
        display:flex;
        flex-direction:column;
        align-items:center;

        li
        {
            width:60%;
        }
        
    }

}
/* Responsive design: tous les supports à partir de 1024px de largeur */
@media all and (min-width: 1024px)
{
    .pagewrapper
    {
        width:60%;
        margin:0 20%;
    }

    .menu__list
    {
        display:flex;
        flex-direction:column;
        align-items:center;

        li
        {
            width:60%;
        }
        
    }

}

.loadingpage
{
    position:relative;
    /*z-index:1;*/

    &::before
    {
        display:none;

        content:"";
        background-color:black;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        
        z-index: 2;

        animation:disparition 250ms $loader-duration both ease-in-out;

        /*
        opacity: 1;
        transition: opacity 3000ms;
        */   
    }
}

.spinning-loader
{
    width:100%;
    height:50vh; /*100vh;*/

    position:absolute;
    top:0;
    left:0;
    z-index:2;

    display:flex;
    justify-content:center;
    align-items:center;

    perspective:500px;
    
    .pie
    {
        /*position:sticky;*/
        width:100px;
        height:100px;
        border-radius:50%;

        span
        {
            color:white;
            font-size:2.0em;
            font-family: $font-logo;
        }
        

        display:flex;
        justify-content:center;
        align-items:center;

        &--1
        {
            background-color:$primary;
            transform-origin:left top 10px;
        }
        &--2
        {
            background-color:$secondary;
            transform-origin:50% 50% 10px;
            animation-delay:1500ms,$loader-duration;
        }
        &--3
        {
            background-color:$tertiary;
            transform-origin:right top 10px;
            animation-delay:2500ms,$loader-duration;
        }
        
        

        transform-style:preserve-3d;
        @if $y==1
        {
            
        }
        @else if $y==2
        {
            
        }
        /*
        animation:loader 750ms ease-in-out 250ms both;
        */
        
        animation-name:loader, disparition;
        animation-duration:750ms, 250ms;
        animation-timing-function:ease-in-out,ease-in-out;
        animation-delay:250ms, $loader-duration;
        animation-iteration-count:1, 1;
        /*animation-direction*/
        animation-fill-mode:both, both;
        /*animation-play-state*/
        
    }
}

@keyframes loader
{
    from
    {
        transform:rotateY(0deg) translateZ(10px);
    }
    to
    {
        transform:rotateY(-360deg) translateZ(10px);
    }
}

@keyframes disparition
{
    from
    {
        opacity:1;
        visibility:visible;
    }
    to
    {
        opacity:0;
        visibility:hidden;
    }
}