.menuheader
{
    width:100%;

    img
    {
        width:100%;
        height:300px;
        object-fit:cover;
    }
}

.menu
{
    /*
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    */

    background-color:$primary-grey;
    padding:1.0em 5% 2.5em 5%;
    border-radius:50px 50px 0 0;

    h2
    {
        text-transform:uppercase;
        font-size:1.2em;
        font-weight:400;
        margin-bottom:0.2em;
    }

    hr
    {
        /*text-align:left;*/
        color:$tertiary;
        width:3.0em;
        border-top:2px solid $tertiary;
        margin:0.2em auto 0.5em 0;
    }

    &__list
    {
        padding:0;
        /*background-color:red;*/
        width:100%;
        animation:apparition-progressive 1000ms backwards ease-in-out;
        @for $i from 1 through 3
        {
            &--#{$i}
            {
                animation-delay:500ms * $i;
            }
        }
    }

    /* Bouton "Commander" */
    >div
    {
        padding:1.0em 0;
        display:flex;
        justify-content:center;
        align-items:center;

        button
        {
            padding:1em 2.5em;
        }
    }

}


.menu-item
{
    cursor:pointer;

    display:flex;
    justify-content:space-between;

    background-color:white;
    width:100%;
    margin:0 0 1.0em 0;
    border-radius:0.5em;
    box-shadow:2px 2px 4px black;

    /* Espace-texte décrivant le mets  */
    div:nth-child(1)
    {
        width:100%;
        transition:width $coche-duration;
        /*background-color:green;*/
        display:flex;
        flex-direction:column;

        /*Titre du mets*/
        >p
        {
            font-weight:bold;
        }
    }

    

    p
    {
        /* margin:0; */
        padding:0.5em 0 0.5em 0.3em;
    }

    overflow:hidden;

    /* Contenant de la coche */
    .check
    {
        border-radius:0 0.5em 0.5em 0;
        /* overflow:hidden; */
        width:0;

        
        /* transform:scaleX(0); */
        transform:translateX(100%);
        transition:transform $coche-duration, width $coche-duration;

        display:flex;

        /* Contenant des icônes*/
        span
        {
            height:100%;
            width:100%;
            font-size:1.0em;
            padding:1.0em 0.5em;
            background-color:$tertiary;
            /* transform:translateX(50px);
            transition:transform 400ms; */

            .fa-circle
            {
                color:white;
            }

            .fa-check
            {
                color:$tertiary;
                
                /* transition:transform $coche-duration; */
            }
        }
        
    }


    /* Au survol de l'élément du menu*/
    &:hover div:nth-child(1)
    {
        width:80%; /* Réduction de la largeur de l'espace-texte */
    }
    /* Au survol de l'élément du menu*/
    &:hover .check
        {
            width:20%; /* Agmentation de la largeur du contenant de la coche*/
            transform:translateX(0); /* Translation dans l'élement du menu */
            
            .fa-check
            {
                animation:rotation-1turn $coche-duration; /*Keyframes de roatation de la coche */
            }
        }

}

.menu-item-details
{
    display:flex;
    justify-content:space-between;

    p:nth-child(1)
    {
        /*background-color:pink;*/
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
    }

    p:last-child
    {
        font-weight:bold;
        padding-right:0.5em;
    }

}

@keyframes apparition-progressive
{
    from
    {
        opacity:0;
        transform:translateY(15px);
    }
    to
    {
        opacity:1;
        transform:translateY(0);
    }
}

@keyframes rotation-1turn
{
    from
    {
        transform:rotate(-1.0turn);
    }
    to
    {
        transform:rotate(0);
    }
}