/* Espace affichant l'image du restaurant */
.menuheader
{
    width:100%;

    img
    {
        width:100%;
        height:300px;
        object-fit:cover;
    }
}



/* Section principale présentant le menu */
.menu
{
    margin-top:-50px;
    position:relative;

    background-color:$primary-grey;
    padding:1.0em 5% 2.5em 5%;
    border-radius:50px 50px 0 0;

    /* Nom du restaurant avec coeur */
    .menu-restaurant
    {
        display:flex;
        justify-content:space-between;
        align-items:center;
    }

    h2
    {
        text-transform:uppercase;
        font-size:1.2em;
        font-weight:400;
        margin-bottom:0.2em;
    }

    hr
    {
        color:$tertiary;
        width:3.0em;
        border-top:2px solid $tertiary;
        margin:0.2em auto 0.5em 0;
    }

    &__list
    {
        padding:0;
        width:100%;
    }

    /* Bouton "Commander" */
    .menu-button
    {
        padding:1.0em 0;
        display:flex;
        justify-content:center;
        align-items:center;

        button
        {
            padding:1em 2.5em;
        }
    }
}

/* Elément de présentation du mets: nom, détails et prix */
.menu-item
{
    cursor:pointer;

    display:flex;
    justify-content:space-between;

    background-color:white;
    width:100%;
    margin:0 0 1.0em 0;
    border-radius:0.5em;
    box-shadow:2px 2px 4px black;

    /* Espace-texte décrivant le mets  */
    div:nth-child(1)
    {
        display:flex;
        flex-direction:column;

        /*Titre du mets*/
        >p
        {
            font-weight:bold;
        }
    }

    p
    {
        padding:0.5em 0 0.5em 0.3em;
    }

    /* Contenant de la coche apparaissant au survol avec la souris */
    .check
    {
        border-radius:0 0.5em 0.5em 0;
        display:flex;

        /* Contenant des icônes*/
        span
        {
            height:100%;
            width:100%;
            font-size:1.0em;
            padding:1.0em 0.5em;
            background-color:$tertiary;

            /* Icône du cercle autour de la coche */
            .fa-circle
            {
                color:white;
            }

            /* Icône de la coche */
            .fa-check
            {
                color:$tertiary;
            }
        }   
    }
}

/* Elément contenant les détails du mets*/
.menu-item-details
{
    display:flex;
    justify-content:space-between;

    /* Informations complémentaires du mets */
    p:nth-child(1)
    {
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
    }

    /* Prix */
    p:last-child
    {
        font-weight:bold;
        padding-right:0.5em;
    }
}